$white-smoke: whitesmoke;
$white: white;

// violet colors
$light-violet: #d9d9ec;
$middle-violet: #9b9bda;
$dark-violet: midnightblue;

// green colors
$light-green: #dbefef;
$middle-green: #4eada9;
$dark-green: teal;
